{% extends "base.html" %}
{% block content %}
  {% load static %}
  <div class="flex flex-col w-full overflow-y-auto p-6 scrollarea">
    <h1 class="page-title mb-6">Create new task</h1>
    <form method="post" class="space-y-5 text-sm">
      {% csrf_token %}
      <div class="flex flex-row gap-10">
        <div>
          <label for="{{ form.project.id_for_label }}" class="block mb-1 font-medium">{{ form.project.label }}</label>
          {{ form.project }}
          {% include "form_errors.html" with errors=form.project.errors %}
        </div>
        <div id="status-container" class="text-gray-400" title="Select project">
          <label for="{{ form.status.id_for_label }}" class="block mb-1 font-medium">{{ form.status.label }}</label>
          {{ form.status }}
          {% include "form_errors.html" with errors=form.status.errors %}
        </div>
        <div id="executor-container" class="text-gray-400" title="Select project">
          <label for="{{ form.executor.id_for_label }}" class="block mb-1 font-medium">{{ form.executor.label }}</label>
          {{ form.executor }}
          {% include "form_errors.html" with errors=form.executor.errors %}
        </div>
      </div>
      <div>
        <label for="{{ form.title.id_for_label }}" class="block mb-1 font-medium">{{ form.title.label }}</label>
        {{ form.title }}
        {% include "form_errors.html" with errors=form.title.errors %}
      </div>
      <div>
        <label for="{{ form.description.id_for_label }}"
               class="block mb-1 font-medium">{{ form.description.label }}</label>
        {{ form.description }}
        {% include "form_errors.html" with errors=form.description.errors %}
      </div>
      <div class="flex flex-row gap-15">
        <button type="submit"
                class="rounded border border-gray-300 p-1 hover:bg-gray-300 font-medium">Save</button>
        <button type="button"
                onclick="window.history.back();"
                class="rounded border border-gray-300 p-1 hover:bg-gray-300 font-medium text-red-500">Cancel</button>
      </div>
    </form>
  </div>
  <script src="{% static 'js/tasks/selectProject.js' %}"></script>
{% endblock content %}
