@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../../**/*.{html,css,js,svg,py}";

:root {
  --default-font-family: "Rubik";
}

.scrollarea {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

.scrollarea::-webkit-scrollbar {
  width: 6px;
}

.scrollarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.scrollarea::-webkit-scrollbar-track {
  background: transparent;
}

/* Sidebar */
.sidebar-container {
  @apply bg-gray-200 border-r-2 border-gray-300 h-full flex flex-col w-55 p-5 gap-10;
}
.sidebar-block {
  @apply flex flex-col gap-5;
}
.sidebar-item {
  @apply border-b-2 transition transform duration-200 ease-in-out hover:translate-x-2 hover:border-gray-500 border-gray-300 flex gap-1;
}
.sidebar-item.active {
  @apply translate-x-2 border-gray-500;
}

/* Header */
.header-container {
  @apply bg-gray-200 border-b-2 border-gray-300 h-8 flex items-center justify-between;
}

.form-label {
  @apply block mb-1 font-medium;
}

.c-tl-h-button {
  @apply px-4 py-2 font-medium cursor-pointer text-gray-500 hover:text-gray-700;
}

.c-tl-h-button.active {
  @apply border-t border-l border-r border-gray-300 rounded-t bg-white -mb-px text-gray-700;
}

.c-tl-h-header {
  @apply flex items-center text-sm text-gray-400 border-b border-gray-300 mb-2;
}

.с-tl-h-container {
  @apply flex flex-col gap-3.5;
}

.с-tl-h-entry {
  @apply flex flex-col;
}

.с-tl-h-no-entries {
  @apply text-gray-500 italic;
}

.page-title {
  @apply text-2xl font-semibold;
}