{% extends "base.html" %}
{% block content %}
  <div class="flex flex-col w-full overflow-y-auto p-6 scrollarea"
       x-data="{ anyStatusDeleted: 0 }">
    <h1 class="page-title mb-6">Edit project #{{ project.id }}</h1>
    <form method="post" class="space-y-5 text-sm mb-6">
      {% csrf_token %}
      <div>
        <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
        {{ form.title }}
        {% include "form_errors.html" with errors=form.title.errors %}
      </div>
      <div>
        <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
        {{ form.description }}
        {% include "form_errors.html" with errors=form.description.errors %}
      </div>
      <!-- Statuses -->
      <span class="form-label">Statuses</span>
      <span x-cloak x-show="anyStatusDeleted" class="flex text-red-400 mb-2">
        You have selected existing statuses for deletion.
        <br />
        They will be removed, and tasks with these statuses will lose their status.
      </span>
      <div class="w-fit">
        <div id="statuses-container" class="space-y-3 mb-4">
          {% for status in project.statuses.all %}
            <div class="status-form border border-gray-300 rounded flex justify-between items-center"
                 x-data="{ deleted: false, name: '{{ status.name }}' }"
                 :class="{ 'bg-gray-200 opacity-60': deleted }">
              <div class="flex px-1">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-4"
                     onclick="moveUp(this.parentElement)">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-4"
                     onclick="moveDown(this.parentElement)">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                </svg>
              </div>
              <template x-if="!deleted">
                <div>
                  <input type="hidden" name="status_ids[]" value="{{ status.id }}">
                  <input type="text"
                         name="status_names[]"
                         class="p-2 w-68"
                         required
                         placeholder="Enter status name"
                         x-model="name"
                         maxlength="32">
                </div>
              </template>
              <template x-if="deleted">
                <span class="p-2 w-68" x-text="name"></span>
              </template>
              <button @click="deleted = !deleted; anyStatusDeleted += deleted ? -1 : 1"
                      type="button"
                      class="font-bold px-3"
                      :class="deleted ? 'text-green-500' : 'text-red-500'"
                      x-text="deleted ? '+' : '-'"></button>
            </div>
          {% endfor %}
        </div>
        <!-- Кнопка добавления -->
        <div onclick="addStatus()"
             class="min-w-80 border border-gray-300 rounded flex justify-center items-center cursor-pointer">
          <span class="font-bold p-2">+</span>
        </div>
      </div>
      <!-- Шаблон -->
      <template id="status-template">
        <div class="w-fit border border-gray-300 rounded flex justify-between items-center">
          <div class="flex px-1">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-4"
                 onclick="moveUp(this.parentElement)">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-4"
                 onclick="moveDown(this.parentElement)">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
          </div>
          <input type="hidden" name="status_ids[]" value="">
          <input type="text"
                 name="status_names[]"
                 value="{{ status.name }}"
                 class="p-2 min-w-68"
                 required
                 placeholder="Enter status name"
                 maxlength="32">
          <button type="button"
                  class="text-red-500 font-bold px-3"
                  onclick="this.parentElement.remove()">-</button>
        </div>
      </template>
      <script>
        function moveUp(button) {
          const parent = button.parentElement;
          const prev = parent.previousElementSibling;
          if (prev) {
            parent.parentElement.insertBefore(parent, prev);
          }
        }

        function moveDown(button) {
          const parent = button.parentElement;
          const next = parent.nextElementSibling;
          if (next) {
            parent.parentElement.insertBefore(next, parent);
          }
        }
        const tpl = document.getElementById("status-template");

        function addStatus() {
          const clone = tpl.content.cloneNode(true);
          document.getElementById("statuses-container").appendChild(clone);
        }
      </script>
      <!-- Owner -->
      <div>
        <label class="form-label">Owner</label>
        <div class="w-fit gap-3 flex">
          <span class="border border-gray-300 p-2 rounded">
            {{ project.owner }}
            {% if project.owner_id == request.user.id %}(You){% endif %}
          </span>
          {% if project.owner_id == request.user.id %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-5 self-center">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          {% endif %}
        </div>
      </div>
      <!-- Members -->
      <span class="form-label">Members</span>
      <div class="flex flex-wrap gap-2" id="members-container">
        {% for member in project.members.all %}
          <div class="member-form border border-gray-300 py-2 rounded flex justify-between items-center"
               x-data="{ deleted: false }"
               :class="{ 'bg-gray-200 opacity-60': deleted }">
            <span class="px-3">{{ member.user }}
              {% if member.user_id == request.user.id %}(You){% endif %}
            </span>
            <template x-if="!deleted">
              <input type="hidden" name="member_ids[]" value="{{ member.id }}">
            </template>
            {% if project.owner_id != member.user_id %}
              <button @click="deleted = !deleted"
                      type="button"
                      class="font-bold px-3"
                      :class="deleted ? 'text-green-500' : 'text-red-500'"
                      x-text="deleted ? '+' : '-'"></button>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <template id="member-template">
        <div class="member-form border border-gray-300 py-2 rounded flex justify-between items-center"
             x-data="{ deleted: false }"
             :class="{ 'bg-gray-200 opacity-60': deleted }">
          <span class="px-3" x-text="username"></span>
          <template x-if="!deleted">
            <input type="hidden" name="member_ids[]" :value="memberId">
          </template>
          <button @click="deleted = !deleted"
                  type="button"
                  class="font-bold px-3"
                  :class="deleted ? 'text-green-500' : 'text-red-500'"
                  x-text="deleted ? '+' : '-'"></button>
        </div>
      </template>
      <!-- Submit -->
      <div class="flex flex-row gap-15">
        <button type="submit"
                class="rounded border border-gray-300 p-1 hover:bg-gray-300 font-medium">Save</button>
        <button type="button"
                onclick="window.history.back();"
                class="rounded border border-gray-300 p-1 hover:bg-gray-300 font-medium text-red-500">Cancel</button>
      </div>
    </form>
    {% include "projects/join_requests.html" %}
  </div>
{% endblock content %}
