{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="flex flex-col w-full overflow-y-auto p-6 scrollarea">
        <h1 class="page-title mb-6">Choose project</h1>
        {% for project in projects %}
            <div>
                <a href="{% url 'projects:project_selection_redirect' project_id=project.id %}?next={{ request.GET.next|urlencode }}">
                    {{ project.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
